<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/styles.css")
    body
    .mac
        .app
        .a
            .a__col-1
            .a__col-2
                .b__col-1
                    .c__col-1
                    .c__col-2
                .b__col-2

                
